<a href="https://colab.research.google.com/github/QPeiran/AppEngine/blob/master/incom_gdp_corelation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id = 'countdownintervewtest'

In [0]:
from google.cloud import bigquery

client = bigquery.Client(project= project_id)

sample_count = 2000
row_count = client.query('''
  SELECT 
    COUNT(*) as total
  FROM `bigquery-public-data.samples.gsod`''').to_dataframe().total[0]

df = client.query('''
  SELECT
    *
  FROM
    `bigquery-public-data.samples.gsod`
  WHERE RAND() < %d/%d
''' % (sample_count, row_count)).to_dataframe()

print('Full dataset has %d rows' % row_count)

Full dataset has 114420316 rows

In [0]:
%load_ext google.colab.data_table

The google.colab.data_table extension is already loaded. To reload it, use:
  %reload_ext google.colab.data_table

In [0]:
df.describe()

       station_number   wban_number  ...  total_precipitation  snow_depth
count     1932.000000   1932.000000  ...          1764.000000   93.000000
mean    510519.599896  90047.203416  ...             0.076083   11.267742
std     294049.519557  26847.618552  ...             0.343597   12.615322
min      10017.000000     13.000000  ...             0.000000    0.400000
25%     265325.000000  99999.000000  ...             0.000000    2.800000
50%     543755.000000  99999.000000  ...             0.000000    7.100000
75%     725086.750000  99999.000000  ...             0.010000   13.400000
max     999999.000000  99999.000000  ...             5.910000   69.300003

[8 rows x 22 columns]